# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.venv/
venv/
ENV/
env/

# IDEs
.idea/
.vscode/

# Local configuration / secrets
.env
.envrc

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/
.ruff_cache/
.mypy_cache/

# DVC and local cache
.dvc/cache/
.dvc/tmp/

data/*
!data/*.dvc
!data/.gitignore

models/*
!models/.gitignore

reports/*
!reports/.gitignore

mlruns/
mlflow.db
mlflow/
storage/
