# Ambiente da aplicação (development, staging, production)
ENVIRONMENT=development

# Configurações de rastreamento do MLflow
MLFLOW_TRACKING_URI=http://localhost:5000
MLFLOW_EXPERIMENT_NAME=postech-challenge

# Configurações do DVC
# Exemplo local: storage/dvc-remote
# Exemplo S3: s3://my-dvc-bucket/data
DVC_REMOTE_PATH=storage/dvc-remote

# Diretórios (sobrescritas opcionais)
DATA_DIR=data
MODELS_DIR=models
CONFIGS_DIR=configs
